.about-us.bg-orange
  .card.nano.expandable.scrollable
    .nano-content
      %h3 ABOUT US
      %h5 In June 2014, Enigma Telematics became a proud member of the Viasat Group, the largest independently-owned Italian telematics provider.
      %p Enigma has an important role to play within the Group and Enigma’s Skyline Fleet Management Platform has contributed to significant growth, both in the UK and internationally.
      %p Becoming part of the Viasat Group has allowed us to improve the range of solutions we provide to a constantly changing marketplace.  Both Enigma and Viasat are successful family businesses that remain true to their core values, even as the Group continues to expand.

      %ul.tabbable.list-untyled
        %li
          %a.expand-key(href='#')
            %span.text-blue-dark
              %i.icon.icon-plus-circled
              %i.icon.icon-minus-circled
            %span.text-white
              %b Enigma Telematics:
          .tab-content
            %p Established in 1992 and based in Southend in Essex, Enigma Telematics provides industry-leading telematics solutions.
            %p As Enigma Telematics has grown, so have our responsibilities.  We take our responsibilities in relation to Health and Safety and the environment very seriously and we are proud to be certified to the International Management Standard ISO 14001 and OHSAS 18001.  To achieve this, we established a series of improvement programmes that are actively developed and monitored.
            %p The merger with the Viasat Group is just one example of how we continually evolve to meet the needs of our customers – and the list of key milestones below contains many more examples.

      %ul.tabbable.list-untyled
        %li
          %a.expand-key(href='#')
            %span.text-blue-dark
              %i.icon.icon-plus-circled
              %i.icon.icon-minus-circled
            %span.text-white
              %b Our History:
          .tab-content
            .enigma-history
              %dl.dl-horizontal
                %dt 1992 –
                %dd Company founded as Enigma Vehicle Systems
              %dl.dl-horizontal
                %dt 1992 –
                %dd Launch of the ‘Enigma’ truck and plant immobiliser
              %dl.dl-horizontal
                %dt 1993 –
                %dd Nationwide installation and service capability established
              %dl.dl-horizontal
                %dt 1995 –
                %dd Achieved full VSIB accreditation
              %dl.dl-horizontal
                %dt 1995 –
                %dd Launch of GSM text-based tracking system
              %dl.dl-horizontal
                %dt 1996 –
                %dd Launch of plant tracking system
              %dl.dl-horizontal
                %dt 1998 –
                %dd ISO 9001:2000 accreditation achieved
              %dl.dl-horizontal
                %dt 2002 –
                %dd Enigma appointed as Norwich Union security advisor
              %dl.dl-horizontal
                %dt 2004 –
                %dd Launch of Skyline
              %dl.dl-horizontal
                %dt 2006 –
                %dd Enigma moves to a purpose-built premises in Southend-on-Sea
              %dl.dl-horizontal
                %dt 2008 –
                %dd Launch of Skyline 6
              %dl.dl-horizontal
                %dt 2009 –
                %dd Enigma Telematics FZC moves to an office and warehouse in Sharjah, UAE
              %dl.dl-horizontal
                %dt 2008 –
                %dd Enigma establishes a sister company in the UAE – Enigma Telematics FZC – to service the Middle East and Africa
              %dl.dl-horizontal
                %dt 2009 –
                %dd Launch of ‘Flex-e’ finance program for the UK market
              %dl.dl-horizontal
                %dt 2009 –
                %dd After the closure of VSIB, Enigma joins the Thatcham Recognised Installer (TRI) scheme
              %dl.dl-horizontal
                %dt 2009 –
                %dd Enigma becomes a verified CESAR qualified installer and reseller
              %dl.dl-horizontal
                %dt 2009 –
                %dd Enigma gains Class 1 Thatcham accreditation for four products
              %dl.dl-horizontal
                %dt 2010 –
                %dd Enigma launches a range of Thatcham-accredited products
              %dl.dl-horizontal
                %dt 2010 –
                %dd Launch of E-Touch touch key immobilisers (with Thatcham accreditation)
              %dl.dl-horizontal
                %dt 2010 –
                %dd Launch of stand-alone Skyline unit for trailer tracking
              %dl.dl-horizontal
                %dt 2011 -
                %dd Release of SK135 portable (magnetic mount) tracking unit with long-life battery
              %dl.dl-horizontal
                %dt 2011 –
                %dd Enigma releases the Skyline 7.0 web tracking interface
              %dl.dl-horizontal
                %dt 2013 –
                %dd Enigma changes its name to Enigma Telematics, reflecting the changing needs of the market
              %dl.dl-horizontal
                %dt 2013 –
                %dd Skyline 7.5 is launched
              %dl.dl-horizontal
                %dt 2014 –
                %dd Launch of Enigma‘s first tablet app
              %dl.dl-horizontal
                %dt 2014 -
                %dd Enigma merges with Viasat Group, the largest independently-owned Italian telematics provider
              %dl.dl-horizontal
                %dt 2014 –
                %dd Enigma achieves ISO14001 and OHSAS18001 quality accreditations
              %dl.dl-horizontal
                %dt
                %dd (click to read our full #{link_to 'Quality, Health & Safety and Environmental Policy Statement', 'http://www.enigmavehicle.co.uk/about/about-enigma/quality-health-and-safety-policy-statement-v3-oct14.pdf', target: '_blank'})

      %h5 Research and Development:
      %p Our approach to Research and Development (R&D) is simple – it’s continuous, market-driven and aimed at ensuring Skyline products deliver valuable solutions for our customers.
      %p Technology alone does not guarantee success in today’s marketplace – but investing heavily in R&D allows us to provide solutions that incorporate the very latest telematics technology.
      %p Our dedicated team of software developers and hardware engineers work alongside leading suppliers to regularly upgrade our solutions.  However, we don‘t develop for the sake of it – sometimes the best solutions don‘t require software or hardware and if that is the case, we will tell you.

      - if false
        %h3 JOIN US
        %p We currently have the following vacancies:
        %ul
          %li= link_to 'Stores and Production Supervisor', 'http://www.enigmavehicle.co.uk/vacancies/stores-and-production-supervisor.php'
        %p If you have any queries relating to any of the roles listed above, please contact email #{mail_to 'jan.parsons@enigmavehicle.co.uk', 'Jan Parsons'}.