.contact.bg-blue
  .card.expandable
    .pad
      .row
        .col-md-6.col-xs-12
          %h3 CONTACT US
          %section
            %h5 PHONE
            %p
              0844 800 9926 (UK)
              %br
              +44 (0) 1702 507200 (International)

          %section
            %h5 FAX 
            %p
              0844 800 9052 (UK)
              %br
              +44 (0) 1702 511978 (International)

          %section
            %p
            %p
              Do you know who you want to speak too…?
              %br
              Call direct to speak to the following departments:

          %section          
            %h5 SALES & SUPPORT
            %p For all sales, support and marketing enquiries call 01702 507229 or email #{mail_to 'info@enigmavehicle.co.uk', 'info@enigmavehicle.co.uk', class: 'mail-link'}

          %section        
            %h5 OPERATIONS
            %p To arrange an installation or service appointment call 01702 507224 or email #{mail_to 'service@enigmavehicle.co.uk', 'service@enigmavehicle.co.uk', class: 'mail-link'}

          %section        
            %h5 ACCOUNTS
            %p For all billing and account queries call 01702 507222 or email #{mail_to 'accounts@enigmavehicle.co.uk', 'accounts@enigmavehicle.co.uk', class: 'mail-link'}

        .col-md-6.col-xs-12
          .nano.scrollable
            .nano-content
              #contact-map.map
              %section
                %h5 WHERE WE ARE
                %p
                  11 Britannia Business Park
                  %br
                  Comet Way, Southend-on-Sea
                  %br
                  Essex  SS2 6GE
              %section
                %h5 HOW TO FIND US
                %ul.tabbable.list-untyled
                  %li
                    %a.expand-key(href='#')
                      %span.text-blue-dark
                        %i.icon.icon-plus-circled
                        %i.icon.icon-minus-circled
                      %span.text-white By Car
                    .tab-content
                      %ul.list-number
                        %li Take A127 exit towards Southend/Basildon
                        %li Continue on the A127 until the Southend border entering the 50mph average speed limit
                        %li Once onto the 40mph speed limit head through 6 sets of traffic lights
                        %li At the next roundabout take the 1st exit onto the B1013/Nestuda Way leaving Tesco‘s on the right
                        %li At the next roundabout take the 2nd exit onto Comet Way (by Lindvale‘s VW garage)
                        %li Follow the road round past Bookers and take the first left
                        %li At the t-junction you will see Enigma opposite
                      %p Britannia Business Park is situated in Comet Way, Southend-on-Sea with good access links by road, rail and air.
                      %p There is parking to the front of the building, once parked please proceed to the entrance door situated on the right of the premises where you will be greeted by reception.

                %ul.tabbable.list-untyled
                  %li
                    %a.expand-key(href='#')
                      %span.text-blue-dark
                        %i.icon.icon-plus-circled
                        %i.icon.icon-minus-circled
                      %span.text-white By Rail
                    .tab-content
                      %p
                        From Liverpool Street Station in London take the train to Rochford Railway Station, Enigma offices are a short 6 min taxi ride although in most circumstances we can organise collection from the train station CALL 0844 800 9926
                        %br
                        From Fenchurch Street Station in London take the train to Southend Central Railway Station, Enigma offices are a short 10 min taxi ride although in most circumstances we can organise collection from the train station CALL 0844 800 9926
