.duty_of_care.bg-green
  .card.expandable
    .pad
      .nano.scrollable
        .nano-content
          %dl.dl-horizontal
            Organisations have a legal responsibility to ensure the safety of their staff and the general public, by exercising a ‘Duty of Care’.
          %dl.dl-horizontal
            Failure to do so can be classed as negligence – and claiming ignorance of legal requirements is no defence in the eyes of the law.
          %dl.dl-horizontal
            As well as legal and moral obligations, there are very strong economic reasons for ensuring an effective Duty of Care.  Any accident – aside from the human cost – often results in additional financial outlay, from increased insurance premiums to unexpected legal bills.
          %dl.dl-horizontal
            To exercise a Duty of Care with regard to company vehicles, organisations need to ensure their drivers are properly licensed and the vehicles themselves are in good mechanical condition.  It is also vital to understand if any drivers pose a risk to themselves and the wider public.
          %dl.dl-horizontal
            For many organisations, this may appear a daunting task – but Skyline from Enigma Telematics can help.
          %dl.dl-horizontal
            Skyline incorporates a number of features designed to improve safety:
          %dl.dl-horizontal
            %ul(style='list-style-type:square;')
              %li
                A Key Performance Indicator (KPI) dashboard, which highlights key areas for attention, including:
                %ul(style='list-style-type:disc;')
                  %li
                    speeding incidents
                  %li
                    harsh and emergency breaking
                  %li
                    harsh acceleration
                  %li
                    unauthorised use
                  %li
                    engine idling
                  %li
                    driver behaviour
              %li
                Driver behaviour analysis
              %li
                Vehicle usage monitor – check which staff are using which vehicles
              %li
                Vehicle position ‘on-demand’ function
              %li
                Journey logging – up to 25,000 events
              %li
                Second-by-second data replay (useful in the event of an accident/incident)
              %li
                Virtual odometer – to review distances travelled by individual vehicles
              %li
                Reminder module – for maintenance and servicing, Statutory Vehicle Check (MOT), LGV safety inspections and road tax
          %dl.dl-horizontal
            As well as through the KPI dashboard, Skyline can deliver information automatically, via scheduled email reports and real-time alerts.
          %dl.dl-horizontal
            At Enigma, we are always on hand to provide advice on how to utilise the information that Skyline provides, to achieve and demonstrate and a professional Duty of Care.
