.industry-jargon-buster.bg-green
  .card.expandable
    .pad
      .nano.scrollable
        .nano-content
          %dl.dl-horizontal
            %dt ABI
            %dd Association of British Insurers
          %dl.dl-horizontal
            %dt ADAS
            %dd Advanced Driver Assistance Systems
          %dl.dl-horizontal
            %dt AEB
            %dd Autonomous Early Breaking
          %dl.dl-horizontal
            %dt BYOD
            %dd Bring Your Own Device
          %dl.dl-horizontal
            %dt CAN bus
            %dd Controller Area Network is a vehicle bus standard designed to allow microcontrollers and devices to communicate with each other in applications without a host computer
          %dl.dl-horizontal
            %dt CESAR
            %dd Construction Equipment Security and Registration scheme
          %dl.dl-horizontal
            %dt FMS
            %dd Fleet Management System
          %dl.dl-horizontal
            %dt GPS
            %dd Global Positioning System
          %dl.dl-horizontal
            %dt GPRS
            %dd
              General Packet Radio Service
              %br
              %b Difference between GPS and GPRS:
              %br
              Many people assume GPS (Global Positioning System) and GPRS (General Packet Radio Service) to be one and the same thing. But, they are not. In fact, they are two different technologies that do different things and do not have anything to do with each other. GPS is a system that is used to find and point towards any point on earth using a satellite; GPRS is a service that enables the mobile phone service providers to provide 2G data services to their users. The similarities end with the letters GPS present in both names.
              %br
              = link_to 'http://www.geeksdesk.com/difference-between-gps-and-gprs/', 'http://www.geeksdesk.com/difference-between-gps-and-gprs/', target: '_blank'
          %dl.dl-horizontal
            %dt HGV
            %dd Heavy Good Vehicle
          %dl.dl-horizontal
            %dt IoT
            %dd Internet of Things
          %dl.dl-horizontal
            %dt KPI
            %dd Key Performance Indicator
          %dl.dl-horizontal
            %dt LCV
            %dd Light Commercial Vehicle
          %dl.dl-horizontal
            %dt LGV
            %dd Large Goods Vehicle
          %dl.dl-horizontal
            %dt M2M
            %dd Machine to Machine
          %dl.dl-horizontal
            %dt MOT
            %dd An annual test of vehicle safety, roadworthiness aspects and exhaust emissions required in Great Britain for most vehicles over three years old, which are used on any way defined as a road in the Road Traffic Act 1988. Derived from the original Ministry of Transport test car inspection
          %dl.dl-horizontal
            %dt OBD2
            %dd 16-pin D-shaped connector used to access a vehicles on-board self-diagnostic and reporting capability
          %dl.dl-horizontal
            %dt Odometer
            %dd An instrument that indicates distance travelled by a vehicle, such as a bicycle or automobile
          %dl.dl-horizontal
            %dt OEM
            %dd Original Equipment Manufacturer
          %dl.dl-horizontal
            %dt PAYD
            %dd Pay as You Drive
          %dl.dl-horizontal
            %dt RFID
            %dd Radio Frequency Identification
          %dl.dl-horizontal
            %dt RoI
            %dd Return on Investment
          %dl.dl-horizontal
            %dt SMS
            %dd Short Message Service. Otherwise known as <em>‘texting’</em> or <em>‘text messaging’</em>
          %dl.dl-horizontal
            %dt Telematics
            %dd Telematics is a general term that refers to any device which merges telecommunications and infomatics (the science of processing data for storage and retrieval). Telematics is essentially a range of different features, options and devices that are brought together by a single principle – data and communication. Telematics is now responsible for many features in vehicles, from satellite navigation to hands-free mobile calling. It is also used heavily in vehicle tracking and fleet management. #{link_to 'http://www.telematics.com/', 'http://www.telematics.com/', target: '_blank'}
          %dl.dl-horizontal
            %dt TSP
            %dd Telematics Service Provider 
          %dl.dl-horizontal
            %dt Thatcham
            %dd Thatcham Research is the UK’s only ‘not-for-profit’ insurer-funded research centre. Thatcham is widely recognised for its testing, accreditation and Quality Assurance programmes (included TRI – see below), which seek to independently verify the performance and suitability of equipment and parts, including aftermarket vehicle security devices, repair equipment and cosmetic vehicle parts. #{link_to 'http://www.thatcham.org', 'http://www.thatcham.org', target: '_blank'}
          %dl.dl-horizontal
            %dt TRI
            %dd Thatcham’s Recognised Installer scheme. TRI safeguards and maintains the standard of installation of Thatcham-listed aftermarket systems
          %dl.dl-horizontal
            %dt V2V
            %dd Vehicle-to-Vehicle
          %dl.dl-horizontal
            %dt VSIB
            %dd Vehicle Systems Installation Board. A not-for-profit organisation that served as the main governing body for the installation of vehicle security systems, from 1994 until it went into receivership in 2009. Following the demise of VSIB, Thatcham Research introduced its Recognised Installer scheme (TRI).
          %dl.dl-horizontal
            %dt WiFi
            %dd
              Wireless Internet
              %br
              <b>NB:</b> There seems to be some debate over what the acronym ‘Wi-Fi’ stands for - and according to this article, it may not actually stand for anything: #{link_to 'http://www.buzzfeed.com/jessicamisener/what-does-wi-fi-stand-for#.hozKmlob7', 'http://www.buzzfeed.com/jessicamisener/what-does-wi-fi-stand-for#.hozKmlob7', target: '_blank'}
