.international.bg-green
  .card.expandable
    .pad
      .nano.scrollable
        .nano-content
          %dl.dl-horizontal
            Skyline has been successfully utilised overseas for a number of years, proving its worth in markets as diverse as Africa, Europe and the Middle East.
          %dl.dl-horizontal
            Sold via a network of global partners, Skyline has a number of features that make it ideal for international use:
          %dl.dl-horizontal
            %ul(style='list-style-type:square;')
              %li
                Quick deployment & low cost to market
              %li
                Reliable and robust hardware
              %li
                Competitive pricing
              %li
                Outstanding service & support
          %dl.dl-horizontal
            In June 2014, Enigma Telematics merged with the Viasat Group, the largest independently-owned Italian telematics provider.
          %dl.dl-horizontal
            Since the merger, Enigma has been able to utilise the Viasat Group’s existing overseas presence to successfully introduce Skyline to a number of new international markets, including Spain, Portugal and Argentina.          %dl.dl-horizontal
          %dl.dl-horizontal
            To learn more about Skyline’s success overseas, click here.
            = link_to 'Amanah Engineering', '#', target: '_blank'
