.viasat_group.bg-green
  .card.expandable
    .pad
      .nano.scrollable
        .nano-content
          %dl.dl-horizontal
            %dt 1974:
            %dd Domenico Petrone starts <b>Elem S.r.l</b> from an electronic workshop in his garage
          %dl.dl-horizontal
            %dt 1981 – 1990:
            %dd On three occasions during the 1980s, Elem’s increasing success means the company has to move to larger premises, better suited for housing sophisticated production processes
          %dl.dl-horizontal
            %dt 1991:
            %dd Elem acquires a new 6,000 m2 production plant in Turin
          %dl.dl-horizontal
            %dt 1992:
            %dd Elem becomes one of the first Italian companies to obtain ISO 9001 certification
          %dl.dl-horizontal
            %dt 2000:
            %dd Elem purchases a second plant, for the production of electronic devices and systems for cars
          %dl.dl-horizontal
            %dt 2002:
            %dd Elem purchases <b>Viasat S.p.A</b>, one of Italy’s leading companies specialising in satellite protection and positioning services for cars
          %dl.dl-horizontal
            %dt 2004:
            %dd Elem acquires control of its main Italian competitor <b>– Movitrack S.p.A –</b> and introduces new security and insurance services
          %dl.dl-horizontal
            %dt 2007:
            %dd <b>Viasat Group S.p.A</b> is the name of the new group parent company.  Works starts to list Viasat on the STAR (High Requirement Securities Segment) of the Italian Stock Exchange
          %dl.dl-horizontal
            %dt 2008:
            %dd Vem Solutions S.p.A is set up to provide design, R&D and innovation services for the wider Group
          %dl.dl-horizontal
            %dt 2009:
            %dd Viasat is awarded the prestigious <i>“Oscar di Bilancio”</i> financial reporting award
          %dl.dl-horizontal
            %dt 2010:
            %dd Viasat strengthens its international presence via agreements with some of Europe’s main roadside assistance associations and networks
          %dl.dl-horizontal
            %dt 2011:
            %dd Viasat launches its BluBox Innovation Platform
          %dl.dl-horizontal
            %dt
            %dd Domenico Petrone is awarded the <i>2011 Entrepreneur Award for Technology and Innovation</i>
          %dl.dl-horizontal
            %dt 2012-2013:
            %dd To further increase the Group’s international presence, <b>Viasat Servicios Telematicos</b> is formed in Spain, with headquarters in Madrid.
          %dl.dl-horizontal
            %dt
            %dd A collaboration agreement is signed with Spanish company Deloitte Advisory SL, for the development and distribution of insurance telematics solutions for the Spanish market
          %dl.dl-horizontal
            %dt
            %dd <b>Viasat Telematics Ltd</b> is established in the UK.
          %dl.dl-horizontal
            %dt 2014:
            %dd Viasat Group acquires UK-based <b>Enigma Vehicle Systems</b> (now <b>Enigma Telematics</b>), to establish a presence in the UK fleet management sector
          %dl.dl-horizontal
            %dt
            %dd Viasat Group is nominated for the <i>“Oscar di Bilancio”</i> in the Unlisted Small and Medium Enterprises category
          %dl.dl-horizontal
            %dt 2015:
            %dd Viasat Group acquires 55% of <b>Cefin Systems</b> of Romania, which is incorporated into the Group under the name of <b>Viasat Systems</b>.  This acquisition reinforces the Group’s ambitious plan for the development of insurance and safety-based communications technologies in south-eastern Europe
